<div style="font-size: 16px;width: 80%;margin: auto;margin-bottom: 120px;">
	<h2 class="featurette-heading" style="font-size: 25px;margin-top: 60px;">Privacy Policy</h2>
	<p class="lead" style="font-size: 16px;">
		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">What information do we collect? </h2>

			<p>We collect information from you when you register on our site or fill out a form. </p>

			<p>When ordering or registering on our site, as appropriate, you may be asked to enter your: name or e-mail address. You may, however, visit our site anonymously.</p>

			<p>Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy..</p>

			<p>What do we use your information for? </p>

			<p>Any of the information we collect from you may be used in one of the following ways: </p>

			<p>- To personalize your experience
			(your information helps us to better respond to your individual needs)</p>

			<p>- To improve our website
			(we continually strive to improve our website offerings based on the information and feedback we receive from you)</p>

			<p>- To improve customer service
			(your information helps us to more effectively respond to your customer service requests and support needs)</p>


			<p>- To send periodic emails
			The email address you provide for order processing, will only be used to send you information and updates pertaining to your order.</p>


		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">How do we protect your information? </h2>

			<p>We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. </p>

		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">Do we use cookies? </h2>

			<p>Yes (Cookies are small files that a site or its service provider transfers to your computers hard drive through your Web browser (if you allow) that enables the sites or service providers systems to recognize your browser and capture and remember certain information

			We use cookies to understand and save your preferences for future visits and compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>

		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">Do we disclose any information to outside parties? </h2>

			<p>We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety. However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>

		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">Third party links </h2>

			<p>Occasionally, at our discretion, we may include or offer third party products or services on our website. These third party sites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked sites. Nonetheless, we seek to protect the integrity of our site and welcome any feedback about these sites.</p>

		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">Online Privacy Policy Only </h2>

			<p>This online privacy policy applies only to information collected through our website and not to information collected offline.</p>

		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">Terms and Conditions </h2>

			<p>Please also visit our Terms and Conditions section establishing the use, disclaimers, and limitations of liability governing the use of our website at /terms.html</p>

		<h2 style="font-size: 22px;border-bottom: 1px solid grey;padding-bottom: 10px;">Your Consent </h2>

		<p>By using our site, you consent to our websites privacy policy.</p>

		This policy was last modified on May 1, 2014



	</p>
</div>