@media (max-width: 991px) {
	.steppytitle {
		padding: 0px 20px 0px 20px;
	}

	p {
		text-align: center;
	}

	.climb {
		margin-top: 26px;
	}

	.climb a{
		text-align: center;
	}

	.climb p{
		margin: 0px;
		padding: 0px;
	}

	.profile {
		text-align: center;
	}

	.goalsmargin{
		margin-top: 20px;
	}

	.topw {
		width:100%;
	}
}

@media (min-width: 991px) {
	.steppytitle {
		padding: 0px 20px 0px 20px;
	}

	.steppybody {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 40px;
	}

	.climb {
		float:right;
		margin-top: -7px;
	}

	.profile {
		text-align: center;
	}

}

.numbs {
	border-radius: 19px;
	border: 1px solid cornflowerblue;
	width: 36px;
	margin: auto;
	margin-top: 4.5px;
}

.donecheck {
	background-color:cornflowerblue;
}

.donecheck a {
	color: white;
}

.otherregions {
	margin-top: 0px;
}

.avatar {
	width: 150px;
	height: 150px;
	padding: 8px;
	box-shadow: 0px 0px 3px grey;
}

.finishedstep {
	background-color: #b1ebb1;
	border: none;
	border-radius: 5px 5px 5px 5px;
}

.stepinprogress {
	border: 1px dotted lightgrey;
	border-radius: 5px 5px 5px 5px;
}