

@media (max-width: 991px) {
	.steppytitle {
		padding: 0px 0px 0px 0px;
	}

	p {
		text-align: center;
	}

	.climb {
		margin-top: 26px;
	}

	.climb a{
		text-align: center;
	}

	.climb p{
		margin: 0px;
		padding: 0px;
	}

	.profile {
		text-align: center;
	}

	.goalsmargin{
		margin-top: 20px;
	}

	.topw {
		width:100%;
	}

	.profilepic {
		padding-left: 0px;
		padding-right: 0px;
	}

	.catps {
		margin-left: 0px;
	}

	.indexlist-small {
		padding-left: 7px;
	}

	.up-nav {
		text-align: center;
	}

	.padding-round {
		padding: 5px;
	}

	.padding-null {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.center {
		text-align: center;
	}

	.menu-small {
		width: 100% !important;
		padding-left: 0px !important;
	}

	.leftexplr p{
		padding-left: 0px;
	}

	.selectnav {
		width: 100%;
	}

	.addstep2 {
		display: none;
	}

	#unhidemore {
		display: block;
	}

	.noleftpadding{
		padding-left: 0px !important;
	}

	.tr {
		padding-top: 10px !important;
		text-align: center !important;
	}

	.formwidth {
		width: 100%;
	}

	.nomargin {
		margin-left: 0px;
	}

	.marginright {
		margin-right:15px;
	}

	.progressbox_done{
		width: 100% !important;
	}

	.progressbox{
		width: 100% !important;
	}

	.listh {
		text-align: center;
		margin: 20px;
	}

	.center_small {
		text-align: center;
	}

	.avatar {
		width: 100% !important;
		border-right: none;
	}


}

@media (max-width: 320px) {
	.padding-round {
		margin-top: 5px;
		width: 112%;
		margin-left: -15px;
	}
}

@media (min-width: 991px) {

	.formwidth {
		width:460px !important;
	}

	#unhidemore {
		display: none;
	}

	.padding-null {
		padding-left: 7px;
		padding-right: 15px;
	}

	.indexlist-small {
		padding-left: 30px;
	}

	.up-nav {
		text-align: right;
	}

	.steppytitle {
		padding: 0px 0px 0px 0px;
	}

	.steppybody {
		padding-left: 60px;
		padding-right: 60px;
		padding-top: 40px;
	}

	.climb {
		float:right;
		margin-top: -7px;
	}

	.profile {
		text-align: center;
	}

	.profilepic {
		padding-left: 15px;
		padding-right: 15px;
	}

	.formbody {
		width: 500px;
		margin: auto;
	}

	.catps {
		margin-left: 20px;
	}

}

.numbs {
	border-radius: 19px;
	border: 1px solid cornflowerblue;
	width: 30px;
	margin: auto;
	margin-top: 5.5px;
}

.donecheck {
	background-color:cornflowerblue;
}

.donecheck a {
	color: white;
}

.done a{
	color: white;
	font-weight: 100;
}

.lsregions {
	margin-top: 30px;
	background-color: rgba(236, 236, 236, 0.13);
	padding:10px;
}


.otherregions  {
		margin-top: 30px;
	background-color: rgb(243, 243, 243);
border: lightgrey 1px solid;
padding:10px;

}

.otherregions a {
	color: #666;
}

.avatar {
	width: 200px;
	height: 200px;
	padding: 0px;
	box-shadow: 0px 0px 3px grey;
}

.finishedstep {
	background-color: #b1ebb1;
	border: none;
	border-radius: 5px 5px 5px 5px;
}

.stepinprogress {
	border: 1px dotted lightgrey;
	border-radius: 5px 5px 5px 5px;
}

.catps p {
	border: 1px lightgrey solid;
	border-radius: 5px;
	padding: 3px;
	padding-left: 20px;
}

.catps p:hover {
	background-color: lightgrey;
}



.appcont {
	background-image: none;
}

.catbox {
	border: lightgrey 1px solid;
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-gap: 10px;
	-moz-column-gap: 10px;
	column-gap: 10px;
	padding: 10px 0px 10px 0px;
	margin-right: 10px;
}

.staircasesbx {
	margin: auto;
	text-align: center;
}

.steppybx {
	border: lightgrey 1px solid;
	border-radius: 3px;
	padding: 5px;
	display: inline-block;
	width: 24%;
	height: 140px;
	margin-top: 5px;
	text-align: left;
	background: -webkit-linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* Standard syntax (must be last) */
	color: #585858;
	text-shadow: 0 1px 0 #fff;

}

.steppybx:hover {
	background-color: rgb(247, 247, 247);
}

.steppybx2 {
	margin-bottom: 15px;
	padding-bottom: 10px;
	border: lightgrey 1px solid;
	text-align: left;
	background: -webkit-linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(rgb(252, 252, 252), rgb(240, 240, 240)); /* Standard syntax (must be last) */
	color: #585858;
	text-shadow: 0 1px 0 #fff;
}

.steppybx2:hover {
	box-shadow: 0px 4px 6px rgb(238, 238, 238);
	border:rgb(187, 187, 187) 1px solid;
}

.steppybx:hover {
	box-shadow: 0px 4px 6px rgb(238, 238, 238);
	border:rgb(187, 187, 187) 1px solid;
}


.steppybx2_ask{
margin-bottom: 15px;
padding-bottom: 10px;
border: rgb(104, 104, 104) 1px solid;
text-align: left;
background: -webkit-linear-gradient(#387299, #2F5F80);
background: -o-linear-gradient(#387299, #2F5F80);
background: -moz-linear-gradient(#387299, #2F5F80);
background: linear-gradient(#387299, #2F5F80);
color: #ECECEC;
text-shadow: 0 1px 0 #132735;
}

